.metronome {
  text-align: center;
  max-width: 100%;
  max-height: 90%;
  margin: 0 auto;
  padding: 15px;

}
h1 {
  color: #5199D1;
}

img {
  max-height: 300px;
}
.bpm-slider input {
  -webkit-appearance: none;
  background: #1D5784;
  height: 15px;
  width: 70%;
  opacity: 2;
  margin: 10px;
}

.bpm-slider input:hover {
    opacity: 2;
}
.bpm-slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: #34495E  ;
    width: 5%;
    height: 30px;
}

.metronome button {
  background: #5199D1;
  padding: 10px;
  border: 1px solid #1D5784;
  border-radius: 2px;
  width: 100px;
  margin: 5px;
  color: #fff;
  font-size: 18px;
}
button[data-setter] {
    outline: none;
    background: transparent;
    border: none;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    width: 25px;
    height: 30px;
    color: #5199D1;
    cursor: pointer;
}
button[data-setter]:hover {
    opacity: 0.5;
}
.container {
    position: relative;
    top: 30px;
    width: 300px;
    margin: 0 auto;
}

.setters {
    position: absolute;
    left: 85px;
    top: 75px;
}
.minutes-set {
    float: left;
    margin-right: 28px;
}
.seconds-set {
    float: right;
}
.controlls {
    position: absolute;
    left: 75px;
    top: 105px;
    text-align: center;
}
.display-remain-time {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 65px;
    color: #5199D1;
}
#pause {
    outline: none;
    background: transparent;
    border: none;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    position: relative;
}
.play::before {
    display: block;
    content: "";
    position: absolute;
    top: 8px;
    left: 16px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 22px solid #5199D1;
}
.pause::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 12px;
    width: 15px;
    height: 30px;
    background-color: transparent;
    border-radius: 1px;
    border: 5px solid #5199D1;
    border-top: none;
    border-bottom: none;
}
#pause:hover {
    opacity: 0.8;
}
.e-c-base {
    fill: none;
    stroke: #B6B6B6;
    stroke-width: 4px
}
.e-c-progress {
    fill: none;
    stroke: #5199D1;
    stroke-width: 4px;
    transition: stroke-dashoffset 0.7s;
}
.e-c-pointer {
    fill: #FFF;
    stroke: #5199D1;
    stroke-width: 2px;
}
#e-pointer {
    transition: transform 0.7s;
}
