.metronome {
  text-align: center;
  max-width: 100%;
  max-height: 90%;
  margin: 0 auto;
  padding: 15px;

}
h1 {
  color: #5199D1;
}

img {
  max-height: 300px;
}
.bpm-slider input {
  -webkit-appearance: none;
  background: #1D5784;
  height: 15px;
  width: 70%;
  opacity: 2;
  margin: 10px;
}

.bpm-slider input:hover {
    opacity: 2;
}
.bpm-slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: #34495E;
    width: 5%;
    height: 30px;
}
.bpm-slider input::-webkit-slider-thumb::before {
  content: "BPM";
}

.metronome button {
  background: #5199D1;
  padding: 10px;
  border: 1px solid #1D5784;
  border-radius: 2px;
  width: 100px;
  margin: 5px;
  color: #fff;
  font-size: 18px;
}
#countdown {
  position: relative;
  margin: auto;
  margin-top: 10px;
  height: 40px;
  width: 40px;
  text-align: center;
}

#countdown-number {
  color: black;
  display: inline-block;
  line-height: 40px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: #1D5784;
  fill: none;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}
